LLM_BACKEND="ollama/vllm"

VLLM_BASE_URL="http://localhost:8000/v1"
VLLM_API_KEY="leave empty"

DEFENDER_MODEL="model name for generation"
ATTACKER_MODEL="model for red_team/ attacking"
JUDGE_MODEL="model for classifying the safety of outputs"