RESPONSE_MODEL="model name for generation"
AUDITOR_MODEL="model for the safety audit"
ATTACKER_MODEL="model for red_team/ attacking"

JUDGE_MODEL="model for classifying the safety of outputs"

#attacker_v2
BRAIN_MODEL="model that plans the attack"
MUSCLE_MODEL="model that creates the prompt"